@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-padding-top: 50px;
}

body::before {
  content: "";
  display: block;
  height: 72px;
}

#footer {
  background-color: #fee59a;
}
